@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700;800&display=swap');

/* font-family: 'Open Sans', sans-serif;
   font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
    
}

/* --------------Header section----------- */

.header-section{
    position: fixed;
    width: 100%;
}

.header-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: greenyellow; */
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-menu .menu{
    display: flex;
}

.header-menu .menu li a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
}

.header-menu .menu li:last-child a{
    padding-right: 0;
}


/* -------------- Banner Section ------------ */

.banner-section{
    background-image: url(./img/banner-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 254px;
    padding-bottom: 156px;
}

.banner-section .container{
    text-align: center;
}

.banner-section .container h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    line-height: 68px;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding: 0 100px;

}

.banner-section .container p{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 77px;
    padding: 0 100px;
}

.banner-section .container button{
    height: 46px;
    width: 200px;
    border-radius: 4px;
    background-color: #E84545;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}


/* ----------- Service section ---------- */

.service-section{
    padding: 120px;
}
.service-section .container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 68px;
    column-gap: 5%;
}

.service-section .container .service-item{
    max-width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

.service-section .container .service-item h3{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 26px;
}

.service-section .container .service-item p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


/* ---------- Gallery section -------- */

.gallery-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
}

.gallery-section .gallery-item{
    max-width: calc(25% - 1px);
}

.gallery-section .gallery-item img{
    width: 100%;
}



/* ------------ Team Section ---------- */

.team-section{
    padding: 100px 0;
}

.team-section .container{
    display: flex;
    justify-content: space-between;
}

.team-section .container .team-member{
    max-width: calc(25% - 22.5px);
}

.team-member h3{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #2D3033;
    margin-top: 30px;
    margin-bottom: 16px;
}

.team-member p:first-of-type{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #e84545;
    text-transform: uppercase;
}

.team-member p:last-of-type{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6c7279;
    padding: 30px 0;
}

.team-member-social-link{
    display: flex;
    column-gap: 4px;
}

.team-member-social-link a{
    border: 1px solid #EEF1F2;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member-social-link a i{
    color: #C6CACC;
}